.about-container {
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-gap: 15px;
    padding: 20px;
}

.about-content {
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

@media screen and (max-width:700px) {
    .about-container {
        grid-template-columns: 1fr;
    }
}