.contact-container {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-gap: 15px;
    padding: 10px;
}
.contact-content {
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
section > h3 {
    font-size: 23px;
}

form {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

input[type="text"], input[type="email"], textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
}

form > button {
    border-radius: 5px;
    padding: 8px 12px;
    background-color: rgba(29, 30, 104, 0.568);
    color: rgba(255, 255, 255);
    animation: pulse 2s infinite;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgba(0, 0, 255, 0.6);
}
aside > h3 {
    font-size: 25px;
}
aside > a {
    padding: 10px;
    margin: 15px;
    line-height: 200%;
    font-size: 20px;
}
.socials {
    transition: font-size 1s ease;
}
.socials:hover {
    font-size: 25px;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
    background-color: rgba(29, 30, 104, 0.858);
    color: rgba(255, 255, 255);
    transition: background-color 0.5s ease-in-out;
} 

@media screen and (max-width:700px) {
    .contact-container {
        grid-template-columns: 20% 1fr;
    }
}

@media screen and (max-width:650px) {
    .contact-container {
        grid-template-columns: 1fr;
    }
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1);}
}
