.projects-container {
    display: grid;
    grid-template-columns: 20% 1fr;
    padding: 20px 20px 20px 0;
    grid-gap: 15px
}
section > ul {
    list-style-type: none;
}

.project-list {
    padding: 7px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    margin-bottom: 5px;
    transition: background-color 0.5s ease;
}
p > a {
    color: rgba(255, 0, 0, .8);
    transition: font-size 0.5s ease-in;
}

.project-list:hover {
    background-color: rgba(28, 14, 98, 0.833);
    color: rgba(255, 255, 255);
}

p > a:hover {
    color: skyblue;
    font-size: 20px;
}

@media screen and (max-width: 650px) {
    .projects-container {
        grid-template-columns: 1fr;
    }
}